/*appelle de la bibliothèque de police google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*on commence par enlever les parametres d'une page par défaut*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none;
}
body{
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: "Poppins";
    background-size: cover;/* redimensionner l'image de fond pour qu'elle couvre complètement le corps de la page*/
    overflow: hidden;
}
body::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1650px;
    margin: 0 auto;
    padding: 2.5em 1em;
}
header .left,
header .right{
    display: flex;
    align-items: center;
}
header a {
    color: #adadad;
    font-size: 2em;
    display: flex;
}
header .left a,
header .left a:nth-child(1){
    color: white !important;/*pour appliquer pour tout les autres*/
}
header .left a {
    margin-right: 80px;
}
header .right a {
    margin-right: 70px;
}

#carousel {
	position: relative;
	height: 85%;
}
/*regles les images des jeux pour les mettres sous forme une ligne */
#carousel > div { /*le chevron saire à selection les div qui sont juste au dessous du #carousel pas les autres*/
	position: absolute;
	transition: transform 0.4s, left 0.4s, opacity 0.4s, z-index 0s;
	opacity: 1;
}

#carousel section img {
	width: 175px;
    border-radius: 30px;
	transition: width 0.4s;
    cursor: pointer;
}

#carousel .hideLeft {
	left: 0%;
	opacity: 0;
}

#carousel .hideLeft {
	left: 0%;
	opacity: 0;
}

#carousel .hideLeft img {
	width: 110px;
}

#carousel .hideRight {
	left: 685px;
	opacity: 0;
}

#carousel .hideRight img {
	width: 110px;
}

#carousel .prev {
	z-index: 5;
	left: 80px;
}

#carousel .prev img {
	width: 110px;
}

#carousel .prevLeftSecond {
	z-index: 4;
	left: -55px;
}

#carousel .prevLeftSecond img {
	width: 110px;
}

#carousel .selected {
	z-index: 1;
	left: 215px;
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#carousel .selected section img{
    border: 3px solid transparent;
    box-shadow: 0px 0px 0px 3px rgb(216,216,216);
}
#carousel .next {
	z-index: 5;
	left: 450px;
}

#carousel .next img {
	width: 110px;
}

#carousel .nextRightSecond {
	z-index: 4;
	left: 550px;
}

#carousel .nextRightSecond img {
	width: 110px;
}
#carousel .selected section span{
	color: rgb(233, 233, 233);
    font-size: 1.5em;
    font-weight: 100;
    margin-left: 5px;
    position: relative;
    bottom: 30px;
}
#carousel :not(.selected) section span,
#carousel :not(.selected) .game-info{
    display: none;
}  
#carousel .selected .game-info{
display: flex;
justify-content: space-between;
align-items: flex-end;
}
#carousel .selected .game-info .left h1{
    color: white;
    font-weight: 100;
    font-size: 1.5em;
    margin: 40px 0 40px 0;
}
#carousel .selected .game-info .left .button-left {
    display: flex;
}
#carousel .selected .game-info .left .button-left a {
    background-color: rgba(255, 255, 255, 0.089);
    color: white;
    font-size: 2em;
    margin-right: 10px;
    border-radius: 50px;
    

}
#carousel .selected .game-info .left .button-left a:nth-child(1){
    padding: 10px 120px;
}
#carousel .selected .game-info .left .button-left a:nth-child(2){
    height:65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#carousel .selected .game-info .right .cover {
    height: 300px;
    width: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 0;

}
#carousel .selected .game-info .right .cover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to bottom, transparent 45%, #000 85%);
    
}
#carousel .selected .game-info .right .cover span{
    z-index: 1;
}
#carousel .selected .game-info .right .cover span.complet{
    color: white;
    border: 2px solid white;
    width: fit-content;
    padding: 2px 8px;
    margin-left: 17px;
}
#carousel .selected .game-info .right .cover span.update{
    background-color: white;
    color: black;
    width: fit-content;
    font-weight: 700;
    margin: 17px 0 17px 17px;
    padding: 3px;
    font-size: 0.9em;

}
 #carousel .selected .game-info .right .trophy{
    width: 300px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
#carousel .selected .game-info .right .trophy i{
    color: #acacac;
    font-size: 2.4em;
}
#carousel .selected .game-info .right .trophy div{
    display: flex;
    flex-direction: column;
    
}
#carousel .selected .game-info .right .trophy .progreess span:nth-child(1),
#carousel .selected .game-info .right .trophy .win span:nth-child(1){
    color:rgb(177, 177, 177) ;

}
#carousel .selected .game-info .right .trophy .progreess span:nth-child(2),
#carousel .selected .game-info .right .trophy .win span:nth-child(2){
    color:rgb(255, 255, 255) ;
    font-size:1.8em ;

    font-weight: 100;
}
#carousel .selected .game-info .right .trophy .win span:nth-child(2){
    text-align: right;
}
#carousel .selected#dirt-5-game .right .cover {
    background-image: url(/images/game-thumbnail-dirt-5.png);
 
 }
#carousel .selected#yakuza-game .right .cover {
     background-image: url(/images/game-stat-boost-set.png);
  
  }
#carousel .selected#sackboy-game .right .cover {
    background-image: url(/images/game-thumbnail-sackboy.png);
 
 }
#carousel .selected#spider-man-game .right .cover {
     background-image: url(/images/game-thumbnail-spider-man.png);
  
  }
#carousel .selected#demons-souls-game .right .cover {
    background-image: url(/images/game-thumbnail-demons-souls.png);
 
 }
#carousel .selected#XIII-game .right .cover {
     background-image: url(/images/game-thumbnail-XIII.png);
  
  }
#carousel .selected#watch-dogs-game .right .cover {
    background-image: url(/images/game-watch-dogs.png);
 
 }